div.1{
    width:640px;
    margin:0 auto;
    }

p.yourname{
    width:640px;
    margin:0 auto;
    }

form.form1{
    width:640px;
    margin:0 auto;
    }

p.namegreet{
    width:640px;
    margin:0 auto;
    }

p.link{
    width:640px;
    margin:0 auto;
    }

div.wrapper{
    width:640px;
    margin:0 auto;
    }

.player{
    width:640px;
    margin:0 auto;
    }

p.link{
    width:640px;
    margin:0 auto;
    }


